@import './variables';
$breakpoint-tablet: 768px;

.App-header {
  background-color: $color-primary;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 5%;
}
@media (max-width: $breakpoint-tablet) {
  .App-header {
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;
  }
  .App-title {
    margin-bottom: 0;
  }
  .App-url {
    margin-top: 10px;
  }
}
.App-url {
  line-height: 2.5em;
  color: #455a64;
  font-weight: 200;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.App-title {
  line-height: 1.1em;
  display: inline-block;
  a {
    color: inherit;
    text-decoration: none;
  }
}

/* FILTERS */
.issues-filters {
  padding: 0 5%;
  margin: 10px 0;
  > ul {
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      justify-content: center;
    }
    > li {
      padding: 5px 10px;
      font-weight: 200;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        color: #ff6f00;
      }
    }
  }
}

//not sure where you'd like to place these styles
button#return-button {
   background: #2196f3;
   height: 20px;
   width: auto;
   border: none;
   margin: 1em 0;
   display: inline-block;
   border-radius: 4px;
   display: block;
   margin-top: 2.8em;
}

button#return-button a {
   text-decoration: none;
   color: whitesmoke;
   
}


/* ISSUES */
.issues-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
  padding: 0 5%;
  .card {
    display: block;
    transition:0.3s;
    box-shadow:#e9e9e9 0px 5px 5px 0px;
    &:hover {
      box-shadow:#e9e9e9 0px 20px 20px 0px;
      transform:translatey(-20px);
      cursor:pointer;
    }
    @media screen and (min-width: 766px){
      display: block;
      transition:0.3s;
      box-shadow:#e9e9e9 0px 5px 5px 0px;
    }
    @media screen and (min-width: 1057px){
      display: block;
      transition:0.3s;
      box-shadow:#e9e9e9 0px 5px 5px 0px;
    }
  }
  .card-title {
    background: #2196f3;
    color: white;
    padding: 20px;
    font-size: 18px;
  }
  .card-body {
    padding: 20px;
    font-size: 12px;
  }
  .card-labels > ul {
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    display: flex;
    > li {
      font-size: 10px;
      background: $color-primary;
      color: white;
      padding: 5px 10px;
      border-radius: 8px;
    }
  }
}


/* PAGINATION */

.paginator {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #2196f3;

  &:focus {
    outline: none;
  }
}

.page-number {
  margin: 0 15px;
  font-size: 25px;
}